.App {
  text-align: center;
}

.poruka {
  display: flex;
  position: relative;
  margin-bottom: 30px;
}

.poruka-moja {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  margin-bottom: 30px;
}

.poruka-ime {
  margin-right: 1em;
  border: 1px solid blue;
  color: blue;
  padding: 10px;
  border-radius: 15px;
}
.poruka-ime-moja {
  margin-left: 1em;
  border: 1px solid rgb(46, 134, 19);
  color: rgb(46, 134, 19);
  padding: 10px;
  border-radius: 15px;
}
.poruka-text {
  background-color: darkgray;
  border-radius: 15px;
  padding: 10px;
}
.poruka-time {
  left: 10px;
  position: absolute;
  bottom: -25px;
}
.poruka-time-moja {
  position: absolute;
  right: 10px;
  bottom: -25px;
}
.poruka-time-text {
  position: relative;
}
.unos-nove-poruke {
  display: flex;
  margin: 50px 10px 10px 10px;
  justify-content: space-between;
}
.unos-text {
  border-radius: 5px;
  flex-basis: 85%;
}
.unos-botun {
  border-radius: 5px;
  flex-basis: 10%;
}
